_ReSharper.*
bin
obj
build
*.min.js
*.suo
*resharper*
*.user
*.cache
*.nupkg
**/packages/*
packages/*
!packages/build/
!**/packages/build/
*.ncrunchproject
~*.*
.DS_STORE
[Ll]ogs
/buildwork
/packages/[Aa]ngular*
/packages/[Ww]eb[Gg]rease*
/buildscripts/local.ps1
*.ncrunchsolution
*chromedriver.log*
csx
rcf
node_modules
Thumbs.db
UpgradeLog*
# NuGet Packages
node_modules/
bower_components/
*.orig
*.idea/
*TestResults/
*jspm_packages/
*.tmp/
/TestResults/*
*npm-debug.log*
*.map
/.vs/*
*dbmdl
*.Database.jfm
/Elements.Web/Content/Client
/Elements.Web/Content/Styles/*.min.css
/Elements.Web/Content/Styles/*.css
/Elements.Web/Content/Styles/*.map
/Elements.Web/Content/Styles/.sass-cache/
/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
/Elements.Web/Properties/PublishProfiles/devdirect - Web Deploy.pubxml
/Elements.Web/Content/Styles/Components/buttons.css
package-lock.json
/Defi.Direct.Api/loggly-buffer-20181018.json
/Defi.Direct.Api/loggly-buffer.bookmark
Defi.Direct.Domain/Models/DecisionFieldList.cs
