.HomeContainer{
    width: 100%;
}
.firstSectionHeader{
    color: #fff;
    text-align: center;
    letter-spacing: .2px;
    padding-top: 35px;
}
.firstSectionText{
    color: #fff;
    text-align: center;
    letter-spacing: .2px;
    margin-top: -10px;
}
.secondSectionHeader{
    text-align: center;
    letter-spacing: .2px;
}
.bottomSectionText{
    color: #fff;
    text-align: center;
    letter-spacing: .4px;
    padding-top: 20px;
    font-size: 18px;
}
.footerImg{
    margin-top: 50px;
}
.footerLink{
    color: inherit;
    padding-right: 15px;
}
.footerDesc{
    padding: 20px;
    color: inherit;
    font-size: 12px;
}