.VersionContainer {
    margin-top: 35px;
}

.VersionContainer .blueColor {
    color: #00B3E3 !important;
}

/* .FSP-paginationWrapper {
    margin-bottom: 20px;
} */

/* .FSP-paginationCnt {
    font-size: 16px;
    color: #646569;
}

.FSP-paginationCnt span {
    color: #969798;
    -webkit-text-stroke: .5px #979797;
} */

.VP-filterCnt {
    padding-left: 15px;
}

.VP-filterCntMain {
    background-color: #f5f7fb;

}

.VP-filterCntMain input {
    color: #989898;
    font-size: 14px;
}

.VP-filterIconCnt {
    padding-left: 5px;
}

.selectBoxCnt {
    margin-left: 35px;
}

.selectBoxCnt .VP-label {
    color: #64666a;
    font-size: 16px;
    margin-right: 5px;
}

.VP-filterCnt .selectBox {
    height: 39px;
    width: 162px;
    background-color: inherit;
    background-color: #f5f7fb;
    line-height: 3;
    color: #646569;
    font-size: 14px;
    padding-left: 5px;
}

.VP-actionCnt {
    text-align: right;
    padding-right: 15px;
}

/* .newFieldBtn {
    float: right;
    height: 40px;
    width: 140px;
    border-radius: 4px;
    color: #FFF !important;
    text-transform: capitalize !important;
    letter-spacing: .2px;
    font-size: 14px !important;
    margin-top: 0px !important;
}

.newFieldBtn i {
    margin-right: 5px;
} */

/* .fieldsContainer .manageListFieldBtn {
    float: right;
    height: 40px;
    width: 140px;
    border-radius: 4px;
    color: #FFF !important;
    text-transform: capitalize !important;
    letter-spacing: .2px;
    font-size: 14px !important;
    margin-top: 0px !important;
    margin-right: 10px;
} */

.VP-tableCnt {
    margin-top: 25px;
    max-height: calc(100vh - 275px);
    overflow: auto;
}

.VP-tableRow {
    /*cursor: pointer;*/
    min-height: 90px;
    width: 1170px;
    margin-bottom: 20px !important;
    border-radius: 4px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.08), 0 2px 2px 0 rgba(0, 0, 0, 0.09);
    background-color: #ffffff;
    border: solid 1px #f0efef;
}

/*.FP-tableRow:hover {
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.09), 0 10px 15px 0 rgba(0, 0, 0, 0.16);
}*/

/* .VP-tableRow.fadeit {
    opacity: .5;
} */

.VP-tableRow .iconWrapper,
.VP-tableRow .actionWrapper {
    text-align: center;
    padding: 20px;
}

.VP-tableRow .infoWrapper {
    padding: 20px;
}

.infoWrapper .infoHeader,
.infoWrapper .infoDetails {
    margin: 0;
}

.infoWrapper .infoHeader {
    color: #646569;
    font-size: 24px;
    line-height: 32px;
}

.infoWrapper .infoDetails {
    color: #969798;
    font-size: 16px;
}

.iconWrapper .iconCnt {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(204, 204, 203, 0.25);
}

.iconCnt i {
    color: #264C59;
    font-size: 30px;
    margin-top: 10px;
}

.toggleBtn {
    color: #35455F;
}

.actionIconCnt_vp {
    /*position: relative;*/
    cursor: pointer;
    margin-right: 15px;
    margin-top: 15px;
    display: inline-block;
}

.actionIconCnt_vp i {
    /*position: absolute;*/
    /*top: 15px;*/
    /* left: 10px; */
    /*right:103;*/
    color: #c0c0c4;
    font-size: 30px;
}

.actionIconCnt_vp i:hover {
    color: #969798;
}


.actionIconCnt_info {
    /*position: relative;*/
    cursor: pointer;
    margin-right: 15px;
    margin-top: 15px;
    display: inline-block;
}

.actionIconCnt_info i {
    /*position: absolute;*/
    /*top: 15px;*/
    /*right: 56px;*/
    color: #c0c0c4;
    font-size: 30px;
}

.actionIconCnt_info i:hover {
    color: #969798;
}

.actionIconCnt_visibl {
    /*position: relative;*/
    cursor: pointer;
    margin-right: 15px;
    margin-top: 15px;
    display: inline-block;
}

.actionIconCnt_visibl i {
    /*position: absolute ;*/
    /*top: 15px;*/
    /*right: 7px ;*/
    color: #c0c0c4;
    font-size: 30px;
}

.actionIconCnt_visibl i:hover {
    color: #969798;
}

/*.iconWrapper .iconCnt, .actionWrapper .actionCnt, .actionWrapper .actionCnt2{
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(204,204,203,0.25);
}
.actionWrapper .actionCnt2{
    margin-right: 10px;
}
.iconCnt i {
    color: #264C59;
    font-size: 30px;
    margin-top: 10px;
}
.actionCnt i, .actionCnt2 i {
    color: #00B3E3;
    font-size: 30px;
    margin-top: 10px;
}

.actionWrapper .actionCnt:hover, .actionCnt2:hover{
    background-color: #00B3E3;
}

.actionCnt:hover i, .actionCnt2:hover i {
    color: #FFF;
}*/

/*.FP-tableRow:hover .actionWrapper .actionCnt, .actionWrapper .actionCnt:hover, .actionCnt2:hover{
    background-color: #00B3E3;
}*/

/*.FP-tableRow:hover .actionCnt i, .actionCnt:hover i, .actionCnt2:hover i {
    color: #FFF;
}*/
