.DFC-Wrapper {
    min-height: 100vh;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 125px !important;
}

.DFC-Container {
    background-color: #FFF;
    /*height: 100%;*/
    margin: 25px;
    border-radius: 5px;
    position: relative;
}

.DFC-CloseBtn {
    position: absolute;
    right: 16px;
    top: 16px;
    cursor: pointer;
}

.DFC-CloseBtn i {
    color: #969798;
    font-size: 32px;
}

.DFC-Header {
    margin-bottom: 8px;
    margin-top: 25px;
    text-align: center;
    color: #646569;
    font-size: 24px;
}

.createModalHeader2 {
    margin: 0;
    font-size: 14px;
    color: #969798;
    padding-left: 10px;
    padding-right: 10px;
}

.createModalTitleBox {
    padding: 25px 50px;
}

.createModalTitleBox label,
.createModalTitleBox input {
    color: #969798;
    font-size: 18px;
}

.createModalTitleBox input {
    padding-left: 10px;
    padding-right: 10px;
    height: 35px
}

.DFC-Footer {
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 15px;
}

.DFC-Footer button {
    min-height: 40px;
    width: 267px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 3px;
    text-transform: capitalize;
    font-size: 18px;
    box-shadow: none;
    /*letter-spacing: .8px;*/
}

.DFC-Footer .deleteBtn {
    background-color: #DB5E5E;
    color: #FFF;
}

.DFC-Footer .deleteBtn:hover {
    background-color: #FFF;
    color: #DB5E5E;
    border: 1px solid #DB5E5E;
}
