.loginWrapper {
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 100vh;
    background-color: #F3BD48 !important;
    background-image: url('../../../assets/img/LoginBackground.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.loginOuterContainer{
    margin: 90px auto 0 !important;
}
.loginContainer {
    min-height: 350px;
    background-color: #FAFAFA;
    box-shadow: 2px 5px 25px #888888;
    border-radius: 5px;
    text-align: center;
    padding: 50px 45px 10px 45px;
    max-width: 350px !important;
}
.loginFooter{
    margin: auto !important;
    color: #FFF;
    text-align: center;
    padding-top: 35px;
    font-size: 10px;
    letter-spacing: 1px;
}
.loginFooter .cmpName{
    font-size: 18px;
    font-weight: 400;
    letter-spacing: .5px;
}
.loginFields {
    margin-top: 35px !important;
    margin-bottom: 35px !important;
}

.loginBtn {
    background-color: #F3BD48 !important;
    /*background-color: #4EB0DE !important;*/
    margin-top: 5px !important;
}

.rememberMe {
    float: left;
    text-align: left;
    font-size: 12px !important;
/*    color: #68696D !important;*/
    color: #969798 !important;
    margin-top: 15px;
    letter-spacing: .5px;
}

.rememberMe span:nth-child(1) {
    color: #68696D !important;
}

.rememberMe input[type="checkbox"]:checked {
    color: #F3BD48 !important;
}

.rememberMe span input[type=checkbox] {
    border: 2px solid #68696D !important;
    background-color: #68696D;
}

.rememberMe span:nth-child(2) {
    font-size: 12px !important;
    color: #68696D !important;
}

.forgotPwdLink {
    font-size: 12px;
    color: #CBCDCD;
    margin-top: 12px !important;
    margin-bottom: 10px !important;
    letter-spacing: .5px;
    cursor: pointer;
}

.forgotPwdLink:hover {
    color: #68696D;
}
