.appBar{
    background: #FFF !important;
    color: #969798 !important;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}
.hambergerMenu{
    margin-left: -50px !important;
    border-radius: 0 !important;
}
.naveMenuItem{
    height: 63px;
    border-radius: 0 !important;
    /*color: #969798 !important;*/
    color: #646569 !important;
    letter-spacing: .5px;
    font-weight: 600 !important;
    font-size: 14px !important;
    /*font-family: 'Roboto' !important;*/
    font-family: 'inter_uiregular' !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
    opacity: 0.5;
}
.naveMenuItem.Selected{
    border-bottom: 4px solid #f5bd47;
    /*border-bottom: 4px solid #00B2E3;*/
    opacity: 1;
    /*color: #161A2E !important;*/
    
}
.naveMenuItem a, .mobileNavItem a{
    text-decoration: none;
    color: inherit;
}
.mobileNavItem a{
    color: #969798 !important;
}
.mobileNavItem a.imgCnt{
    display: block;
    width: 100%;
    text-align: center
}
.mobileNavItem .Selected{
    border-left: 4px solid #00B2E3;
    color: #161A2E !important;
    background-color: #CFD8DC;
}